[data-theme='dark'] .main {
    background: linear-gradient(rgba(43, 43, 43, 0.9), rgba(43, 43, 43, 0.654)), center / cover no-repeat
}


[data-theme='dark'] .projectSection {
    background: $articaDrakBlack;
    color: white;
}

[data-theme='dark'] .articaProject {
    background: $articaDrakBlack;
    color: white;
}

[data-theme='dark'] .aboutSection {
    background: lighten($color: $articaDrakBlack, $amount: 5);
    color: white;
}

[data-theme='dark'] .navItems li {
    color: white;
}

[data-theme='dark'] .contactSection {
    background: $articaDrakBlack;
    color: white;
}

[data-theme='dark'] .contactFormWrapp {
    & form {
        background: lighten($color: $articaDrakBlack, $amount: 5);
    }
}


[data-theme='dark'] .inptWrapp {
    & input {
        background: $articaDrakBlack;
        color: white;

        &::placeholder {}

    }

    & textarea {
        background: $articaDrakBlack;

        &::placeholder {}
    }
}

[data-theme='dark'] .aFooter {
    background: lighten($color: $articaDrakBlack, $amount: 5);
    color: white;
}

[data-theme='dark'] .footerContentInfo {
    border-bottom: 1px solid $articaDrakBlack;
    border-top: 1px solid $articaDrakBlack;
}

[data-theme='dark'] .clientPrivate {
    color: white;
}


[data-theme='dark'] .mobileNav .menuIcon {
    color: white;
}


[data-theme='dark'] .child1 {
    stroke-dasharray: 308.0223083496094px;
    stroke-dashoffset: 308.0223083496094px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards;
    animation: svgPath-animeDark 1s ease-in forwards;
}

[data-theme='dark'] .child2 {
    stroke-dasharray: 307.9340515136719px;
    stroke-dashoffset: 307.9340515136719px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards 1.8s;
    animation: svgPath-animeDark 1s ease-in forwards 1.8s;

}

[data-theme='dark'] .child3 {
    stroke-dasharray: 348.0422058105469px;
    stroke-dashoffset: 348.0422058105469px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards 1s;
    animation: svgPath-animeDark 1s ease-in forwards 1s;

}

[data-theme='dark'] .child4 {
    stroke-dasharray: 195.6199951171875px;
    stroke-dashoffset: 195.6199951171875px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards 1.2s;
    animation: svgPath-animeDark 1s ease-in forwards 1.2s;

}

[data-theme='dark'] .child5 {
    stroke-dasharray: 152.22003173828125px;
    stroke-dashoffset: 152.22003173828125px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards 1.4s;
    animation: svgPath-animeDark 1s ease-in forwards 1.4s;

}

[data-theme='dark'] .child6 {
    stroke-dasharray: 297.19049072265625px;
    stroke-dashoffset: 297.19049072265625px;
    -webkit-animation: svgPath-animeDark 1s ease-in forwards 1.8s;
    animation: svgPath-animeDark 1s ease-in forwards 1.8s;

}