@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin lightBg {
    background: linear-gradient(rgba(243, 243, 243, 0.9), rgba(243, 243, 243, 0.5));
}

@mixin lightBgVer2 {
    background: darken($color: white, $amount: 8);
}


@mixin glassMorph {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


@mixin articaButton {
    color: white;
    background: $articaLightGreen;
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 2px;

}

@mixin addButton($width) {
    background: white;
    width: $width;
    margin: 0.5rem 0;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    letter-spacing: 1px;
    border: 2px solid $articaMainBlue;

    & .addBtnIcon {
        @include flexCenter;
        color: white;
        background: $articaMainBlue;
        padding: 0.2rem;
        cursor: pointer;
    }

    & label {
        text-transform: uppercase;
        align-self: center;
        text-align: center;
        padding: 0.2rem;

        cursor: pointer;
        width: 100%;

    }
}

@mixin articaSettingsInput {
    border: none;
    outline: none;
    background: white;
    color: $articaDrakBlack;
    padding: 0.5rem;
    border: 1px solid $articaMainBlue;
}