.articaProject {
    height: 100dvh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding: 1rem;
}

.projectMain {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 1rem;
}

.projectNav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 100;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
    }
}

.projectContentWrapper {
    display: grid;
    grid-template-rows: 20% 80%;


    & .heading {
        text-transform: uppercase;
        font-size: 1.6rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        // padding: 0 2rem;

        & h1 {
            color: $articaMainBlue;
            font-weight: 400;
            letter-spacing: 0.2;
        }

        & h3 {
            font-weight: 200;
        }
    }
}


.insetBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 90%;
    background: transparent;
    padding: 2rem;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.test {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.clientsWrapp {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.clientsLogoWrapp {
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    @include flexCenter;
    gap: 2rem;
}

.clientPrivate {
    width: 3rem;
    height: 3rem;
    color: $articaDrakBlack;
}

.tagsWrapp {
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    // padding: 1rem 2rem;

    & aside {
        // @include flexCenter;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        text-transform: uppercase;
        font-weight: 200;
        // padding: 1rem;


        &:first-child {
            border-bottom: 2px solid $articaMainBlue;
        }

        & .tagList {
            display: flex;
            align-items: center;
            // border-bottom: 1px solid $articaLightGreen;
            // width: 80%;

            & label {
                width: 100%;
                // margin: 0.5rem 0;
                // font-size: 1.3rem;
                padding: 0.2rem;

                &:last-child {
                    border-bottom: none;
                }
            }

            & svg {

                color: $articaLightGreen ;
                width: 1.5rem;
                margin-right: 2rem;

            }
        }


    }
}


.cilentWrapper {
    position: relative;
    height: 5rem;
    width: 5rem;
    cursor: pointer;

    & img {
        object-fit: contain;
    }
}

.clientLogo {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
}

.clientsHeadingWrapp {
    display: flex;
    align-items: center;
    // padding: 0 2rem;

    & h1 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 100;
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.2s;
    }
}